.services {
    padding: 50px 20px;
    text-align: center;
}

.services h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.service {
    margin: 20px 0;
}

.service h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.service p {
    font-size: 16px;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 50px 20px;
    text-align: center;
}


img {
    width: 100%;
    height: auto;

    border-radius: 10px;
}